<!-- <ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>sign-up</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content [fullscreen]="true">
  <!-- <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">sign-up</ion-title>
    </ion-toolbar>
  </ion-header> -->
  <ion-grid>
    <ion-row>
      <!-- <ion-col size="2"></ion-col> -->
      <ion-col >
        <div class="section-text">
          <div class="text-top-sign-up">
            <p class="text-sign-up-to ">Sign Up to </p>
            <p class="text-lorem">Lorem Ipsum is simply </p>
          </div>
          <ion-grid>
            <ion-row>
              <div class="text-footer-sign-up">
                <p>If you already have an account </p>
                <p>You can <a href="" class="text-navigate-login-page"> Login here !</a></p>
              </div>
              <img class="image-text-footer-sign-up" src="../../../../assets/user-message.png">
            </ion-row>
          </ion-grid>
        </div>
      </ion-col>
      <ion-col >
        <div >
          <div class="top-form-sign-up">
            <ion-text>
              <p class="sign-up">
                Sign Up
              </p>
            </ion-text>
          </div>
          <div class="body-form-sign-up">
            <ion-input [(ngModel)]="emailSignup" aria-label="Custom input" placeholder="Enter Email" class="input-email" type="email"></ion-input>
            <p class="error-input" *ngIf="!checkEmailSignUpEnter()">Lưu ý kiểm tra lại email</p>
            <ion-input aria-label="Custom input" placeholder="Create user name" class="input-user-name" type="text"></ion-input>
            <ion-input aria-label="Custom input" placeholder="Phone number" class="input-phone-number" type="tel"></ion-input>
            <ion-input [(ngModel)]="passwordSignup" aria-label="Custom input" placeholder="Password" class="input-password" type="password">
              <ion-input-password-toggle slot="end"></ion-input-password-toggle>
            </ion-input>
            <ion-input [(ngModel)]="confirmPasswordSignup" aria-label="Custom input" placeholder="Confirm Password" type="password" class="input-confirm-password">
              <ion-input-password-toggle slot="end"></ion-input-password-toggle>
            </ion-input>
            <p class="error-input" *ngIf="!checkPasswordSignUpEnter()">Mật khẩu confirm sai</p>
            <!-- <ion-input aria-label="Custom input" placeholder="Enter code validate" class="input-validate-code"></ion-input> -->
            <ion-input aria-label="Custom input" placeholder="ID Cart" class="input-id-cart" type="text"></ion-input>
              <ion-input aria-label="Custom input" placeholder="Address" class="input-address" type="text"></ion-input>
            <ion-button class="btn-register">Register</ion-button>
            <div class="ion-text-center footer-form-sign-up">
              <div class="or-contibue-with">
                <p>or continue with</p>
              </div>
              <div class="buttons-or-continue-with">
                <ion-button class="btn-google" fill="clear">
                  <ion-img class="image-gg"
                    src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/c1/Google_%22G%22_logo.svg/1024px-Google_%22G%22_logo.svg.png"
                    alt="sign-up-google"></ion-img>
                </ion-button>
                <ion-button class="btn-git" fill="clear">
                  <ion-img class="image-git" src="https://cdn-icons-png.flaticon.com/512/25/25231.png"
                    alt="sign-up-google"></ion-img>
                </ion-button>
                <ion-button class="btn-fb" fill="clear">
                  <ion-img class="image-fb"
                    src="https://upload.wikimedia.org/wikipedia/commons/thumb/0/05/Facebook_Logo_%282019%29.png/800px-Facebook_Logo_%282019%29.png"
                    alt="sign-up-google"></ion-img>
                </ion-button>
              </div>
            </div>
          </div>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>