h1 {
  width: 231px;
  height: 75px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 50px;
  line-height: 75px;
  color: #000000;
}
h2 {
  width: 396px;
  height: 53px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 35px;
  line-height: 52px;
  /* identical to box height */

  color: #000000;
}
.title{
margin-top: 135px;
}
img {
margin-left: 300px;
margin-top: -150px;
  width: 313px;
  height: 556px;
}
.password_in{
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;

background: #F0EFFF;
border-radius: 8px;

}
.title a{
  text-decoration: none;
  color: #4D47C3;
  font-weight: bold;
}
button{
width: 369px;
height: 59px;
background: #4D47C3;
box-shadow: 0px 4px 61px rgba(77, 71, 195, 0.4);
border-radius: 9px;
margin-top: 30px ;
font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 24px;
color: #FFFFFF;
}
ion-input {
width: 369px;
height: 62px;
background-color:#F0EFFF ;
color: #A7A3FF;
border-radius: 8px;
margin-top: 40px ;
padding-left: 10px;
}
.sc-ion-input-md-h{
  --border-width: none;
}
.forgot {
  margin-top: 30px;
  text-decoration: underline;
  color: grey;
  float: right;
}
.input{
  width: 369px;
}
.difflog{
  width: 369px;
}
.difflog p{
margin-top: 50px;
text-align: center;
font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 24px;
color: #B5B5B5;
}
.btn-google, .btn-git, .btn-fb{
--border-radius: 50px;
}

.image-gg, .image-fb, .image-git{
width: 30px;
height: 30px;
}
.icon{
margin-left: 80px;
}

ion-modal {
  --height: 50%;
  --border-radius: 16px;
  --box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
}

ion-modal::part(backdrop) {
  background: rgba(209, 213, 219);
  opacity: 1;
}

ion-modal ion-toolbar {
  --background: rgb(14 116 144);
  --color: white;
}
ion-item img {
  width: 50%;
  height: 80%;
  margin-left: 130px;
  margin-top: 60px;
}
@media only screen and  (max-width:1440px) {
  .img_signin{
      display: none;
  }
}