//variables
$primary-color: #4D47C3;
$background-color: #F0EFFF;
$font-family: 'Poppins';
$text-color: #000000;
$text-secondary-color: #B5B5B5;
$button-text-color: #FFFFFF;

@mixin font($size, $line-height, $weight: normal) {
  font-family: $font-family;
  font-style: normal;
  font-weight: $weight;
  font-size: $size;
  line-height: $line-height;
}
h1 {
  width: 231px;
  height: 75px;
  @include font(50px, 75px, 600);
  color: $text-color;
}

h2 {
  width: 396px;
  height: 53px;
  @include font(35px, 52px, 500);
  color: $text-color;
}

.title {
  margin-top: 135px;
  
  a {
    text-decoration: none;
    color: $primary-color;
    font-weight: bold;
  }
}

.img_signin {
  margin-left: 300px;
  margin-top: -150px;
  width: 313px;
  height: 556px;
}

.password_in {
  background: $background-color;
  border-radius: 8px;
}

button {
  width: 369px;
  height: 59px;
  background: $primary-color;
  box-shadow: 0px 4px 61px rgba(77, 71, 195, 0.4);
  border-radius: 9px;
  margin-top: 30px;
  @include font(16px, 24px, 500);
  color: $button-text-color;
}
ion-input {
  width: 369px;
  height: 62px;
  background-color: $background-color;
  color: #A7A3FF;
  border-radius: 8px;
  margin-top: 40px;
  padding-left: 10px;

  &::part(native) {
    border-width: none;
  }
}
.forgot {
  margin-top: 30px;
  text-decoration: underline;
  color: grey;
  float: right;
}

.input,
.difflog {
  width: 369px;
}

.difflog {
  p {
    margin-top: 50px;
    text-align: center;
    @include font(16px, 24px, 500);
    color: $text-secondary-color;
  }

  .icon {
    margin-left: 80px;

    ion-button {
      --border-radius: 50px;

      ion-img {
        width: 30px;
        height: 30px;
      }
    }
  }
}
ion-modal {
  --height: 50%;
  --border-radius: 16px;
  --box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -4px rgba(0, 0, 0, 0.1);

  &::part(backdrop) {
    background: rgba(209, 213, 219);
    opacity: 1;
  }

  ion-toolbar {
    --background: rgb(14, 116, 144);
    --color: white;
  }

  ion-item img {
    width: 50%;
    height: 80%;
    margin-left: 130px;
    margin-top: 60px;
  }
}

@media only screen and (max-width: 1400px) {
  .img_signin {
    display: none;
  }
}
